#window {
    padding: 10px;
    border-radius: 10px;
}

#search {
    margin-bottom: 10px;
}

#list {
    border-radius: 10px;
}

#list row {
    padding: 5px;
}

#list row .horizontal image {
    padding-right: 5px;
}

#list row .vertical image {
    padding-bottom: 5px;
}
